<div>
    <h4>Todo List</h4>
    <a class="pull-right" ui-sref="todo({id:'new'})">New Todo</a>
    <table class="table table-bordered">
        <tr ng-repeat="item in vm.model" ng-class="{'done':item.Done}">
            <td class="text-center">
                <input type="checkbox" ng-model="item.Done" />
            </td>
            <td>
                {{item.Text}}
            </td>
            <td class="text-center">
                <a ui-sref="todo({id:item.Id})">Edit</a>
            </td>
        </tr>
    </table>
</div>